html, body {
    background: rgb(241, 134, 186);
    background: radial-gradient(circle, rgba(241, 134, 186, 1) 0%, rgba(119, 173, 236, 1) 100%);
    color: #000;
    font-family: sans-serif;
}

p, h1, td {
    text-align: center;
    color: white;
}

table {
    margin: 0 auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
td{
    margin-bottom: 50px;
}

.input {
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    /*margin-bottom: 30px; */
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
#promille{
    margin-top: 50px;
}

.container input .button {
    background-color: blue;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}